<section class="about">
    <div class="container">
        <img src="../../../assets/img/9.jpg" alt="">
        <div class="text">
            <h1 class="heading">About <span class="heading-mark">Us</span></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, voluptate quae. Non necessitatibus corrupti doloremque cupiditate nobis suscipit. Ex dolores omnis magni iusto mollitia doloribus aut est rerum, tempore, quibusdam iste necessitatibus
                rem facere optio suscipit beatae voluptate, temporibus fugiat reiciendis cumque iure laboriosam? Iste consequuntur accusamus voluptates excepturi aliquid.</p>
        </div>
    </div>
</section>