.about .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about .container img {
    height: 500px;
    width: 500px;
    object-fit: cover;
    margin: 3rem 5rem;
}

.about .container .text {
    margin: 3rem 5rem;
}

.about .container .text h1 {
    margin-bottom: 5rem;
}